<div class="pagination flex justify-center mt-8">
    <span class="step-links flex items-center">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}" class="text-blue-500 hover:underline mr-4">previous</a>
        {% endif %}
        <span class="current text-gray-700 font-medium">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}" class="text-blue-500 hover:underline ml-4">Next</a>
        {% endif %}
    </span>
</div>
